Options +FollowSymlinks -Indexes
RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^/?pkavi/([msg])/(.*)(?:\.[a-z]+)?$ pkavi/index.php?ty=$1&id=$2 [L,QSA]
RewriteRule ^/?pkavi/stats(?:\.json)?$ pkavi/stats.php [L,QSA]
